@import '../../elements/breakpoints-mixin';

@mixin characteristics() {
  .characteristics {

    h3 {
      margin : 0;
      padding: 1rem;
    }

    @include breakpoint(tablet) {
      & .data-table {
        display: flex;
        flex-flow: row wrap;
      }
      .data-table-row {
        border-bottom: transparent 1px solid;
        flex: 1;
      }
    }
  }
}


@mixin characteristics-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent : map-get($theme, accent);
  // background: linear-gradient(red, yellow); /* Standard syntax */
  // background: mat-color($background, card);
  // color: mat-color($foreground, text);
  // color: mat-color($foreground, secondary-text);
  //background
  //  hr {
  //    background : mat-color($foreground, secondary-text);
  //  }


  .characteristics h3 {
    background : mat-color($background, app-bar);

  }

}