@mixin description() {
  .product-image {
    margin: 0px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    .image {
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      position: absolute;
      -webkit-background-size: 100%;
      background-size: 100%;

    }
  }
}

