@import "../elements/breakpoints-mixin";

@mixin linear-layout-guts($direction: horizontal) {
  display: flex;
  @if $direction == horizontal {
    flex-flow: row nowrap;
  } @else {
    flex-flow: column nowrap;
  }
}

@mixin gravity-guts($gravity: center) {
  @if $gravity ==  center {
    justify-content: center;
  } @else if $gravity == end {
    justify-content: flex-end;
  }
}

@mixin relative-alignment-guts($gravity: center) {
  @if $gravity ==  center {
    margin: auto;
  } @else if $gravity == right {
    margin-left: auto;
    margin-right: 0px;
  }
}

@mixin container-guts($layout) {
  @include relative-alignment-guts();
  max-width: map-get($layout, max_width);
  padding: 0 0.5rem;
}

@mixin container__full-guts($layout) {
  @at-root #{&}__full {
    margin: 0 -0.5rem;
  }
}

@mixin expand($x : 1) {
  flex-grow: $x;
}

@mixin layout($layout) {
  html, body {
    padding: 0px;
    margin: 0px;
  }

  body {
    min-height: 100%;
  }

  .c, .container {
    @include container-guts($layout);
    @include container__full-guts($layout);
  }

  @include breakpoint(desktop) {
    .c, .container {
      padding: 0 1rem;
      @at-root #{&}__full {
        margin: 0 -1rem;
      }
    }
  }

  .lh, .lay-horizontal {
    @include linear-layout-guts(horizontal);
  }

  .lv, .lay-vertical {
    @include linear-layout-guts(vertical);
  }

  .lac, .lay-align-center {
    align-items: center;
  }

  .gc, .gravity-center {
    @include gravity-guts();
  }
  .ge .gravity-end {
    @include gravity-guts(end);
  }

  .i, .inline {
    display: inline-block;
  }

  .fh, .full-height {
    height: 100%;
  }

  .e, .expand {
    @include expand();
  }

  @for $x from 2 through 5 {
    .e#{$x}, .expand-#{$x} {
      @include expand($x);
    }
  }
}
