@import '../elements/math/combine';
@import '../elements/mapping/extract-label';

$positions: (top: t, left: l, right: r, bottom: b) !default;

$layers: (
        tooltip : 500,
        overlay : 1000
) !default;

@mixin stick($positions: $positions, $groupOf: 3, $clarence: 0) {
  $sets: combine(map-keys($positions), $groupOf);
  @each $set in $sets {
    $label: extract-label($set, $positions);
    &--stick-#{$label} {
      @each $property in $set {
        #{$property} : $clarence;
      }
    }
  }
}

@mixin position-guts($settings) {
  &--relative {
    position: relative;
  }
  &--absolute {
    position: absolute;
  }
  &--fixed {
    position: fixed;
  }

  @include stick(map-get($settings, positions), 3);

  @include stick(map-get($settings, positions), 2);
  &--1 {
    @include stick(map-get($settings, positions), 2, 1rem);
  }
}

@mixin position($settings: (
    layers : $layers,
    positions : $positions
  )) {
  .pos {
    @include position-guts($settings);
  }
}



