@import '../elements/breakpoints-mixin';

@mixin slideshow() {

  .slides-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    a {
      flex: 1 10rem;
      display: block;
      /* padding-top: 100%; */

      figure {
        width: 100%;
        /* padding-top: 100%; */

        margin: 0;
        /* height: 100px; */
        .picture-wrapper {
          width: 100%;
          padding-top: 100%;
          background: transparent no-repeat center;
          background-size: cover;

        }
      }
      // @include breakpoint(tablet) {

      &:target {
        // flex: 3 10rem;
        figure .picture-wrapper {
          position: fixed;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-size: contain;
        }
      }
      //}
    }

    @include breakpoint(tablet) {

    }
    @include breakpoint(desktop) {

    }

  }
}
