@import '../elements/truncate-mixin';

@mixin table() {
  .data-table {
    padding: 0;
    margin: 0;
    &.compact {
      .data-table-row {
        border-top: transparent 0px solid;
        padding: 0.25rem;
        align-items: center;
        &:last-child {
          border-bottom: transparent 0px solid;
        }
      }
    }
  }

  .data-table-cell {
    @include truncate();
  }

  .data-table-row {
    list-style: none;
    border-top: transparent 1px solid;
    text-align: left;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    // height: 2rem;
    align-items: center;
  }
  .data-table-row:last-child {
    border-bottom: transparent 1px solid;
  }
  .data-table-cell-title {
    width: 10rem;
  }
  .data-table-cell-icon {
    width: 2rem;
    padding: 0 0;
  }
  .data-table-cell-value {
    flex-grow: 1;
  }
  .data-table-cell-actions {

  }
  .data-table-header {
    margin: 0.5rem;
  }
}