// Import all the tools needed to customize the theme and extract parts of it

@mixin footnote() {
  .footnote {
    position: relative;
  }

  .footnote:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 0rem;
    bottom: 0rem;
    transform: translate(-50%);
  }
}