@import '../../elements/breakpoints-mixin';

@mixin delivery() {
  .delivery {
    position: relative;
    .delivery-clipart {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      opacity: 0.1;
      z-index: 1;
      & svg {
        height: 100%;
      }
    }

    .delivery-content {
      position: relative;
      z-index: 2;
    }
  }

}


@mixin delivery-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent : map-get($theme, accent);
  // background: linear-gradient(red, yellow); /* Standard syntax */
  // background: mat-color($background, card);
  // color: mat-color($foreground, text);
  // color: mat-color($foreground, secondary-text);
  //background
  //  hr {
  //    background : mat-color($foreground, secondary-text);
  //  }

}