/**
* Usage
*$list : a, b, c, d;
*@each $set in combine($list, 3) {
*  .dude {
*    @each $prop in $set {
*
*    }
*  }
*}
*/

@function combine($list, $count, $accumulator:(), $result : ()) {
  @if $count > 0 {
    $count: $count - 1;
    $size: length($list) - $count;
    @for $i from 1 through $size {
      $subAccumulator: append($accumulator, nth($list, $i));
      $sublist: ();
      @for $j from $i+1 through length($list) {
        @if $j <= length($list) {
          $sublist: append($sublist, nth($list, $j));
        }
      }
      $result: combine($sublist, $count, $subAccumulator, $result);
    }
    @return $result;
  } @else {
    $result: append($result, ($accumulator));
    @return $result;
  }
}

