@mixin clear-default-styling() {
  ol.clear-defaults, ul.clear-defaults {
    list-style: none;
    padding: 0px;
    margin : 0px;
  }

  blockquote.clear-defaults {
    padding: 0px;
    margin: 0px;
  }
}
