@mixin clearance($x : 1rem) {

  .loose-out {
    margin: $x;
  }

  .loose-in {
    padding: $x;
  }

  .loose-out-horizontal {
    margin: 0 $x;
  }

  .loose-in-horizontal {
    padding: 0 $x;
  }

  .loose-out-vertical {
    margin: $x 0;
  }

  .loose-in-vertical {
    padding: $x 0;
  }

  .space-around-items > * {
    margin: 0 0.25rem 0.25rem 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

}