@mixin icon() {
  .icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 2rem;
    min-width: 2rem;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}